<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         stopOnFailure="false"
         cacheResultFile=".phpunit.cache/result-mysql"
         verbose="true">

    <testsuites>
        <testsuite name="MySqlIntegration">
            <directory>tests/MySqlIntegration</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="APP_ENV" value="testing_mysql"/>
    </php>
</phpunit>
