# Dozwolony dostęp tylko do plików graficznych
# Blokada dostępu do innych typów plików

Order Deny,Allow
Deny from all

# Dozwolone formaty obrazów
<FilesMatch "\.(png|jpg|jpeg|gif|webp|svg)$">
    Allow from all
</FilesMatch>
